*{
    padding: 0; 
    margin: 0;
}
.header{
    background-color: azure;
    display: flex ;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}
.header .logo img{
    width: 50px;

}