.app{
  align-items: center;
  border-radius: 15%;
  text-align: center;
  font-family:cursive;
  font-size: 2vw;
  
  color: rgb(216, 214, 110);
  background-color: rgb(124, 119, 199);
  height: 100;
  width: 100;

}
.p{
  color: aqua;
}
.I{
border-radius: 50%;
image-rendering: pixelated;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.frame{
  border-radius: 50%;
}

